* {
  outline: none;
}

body {
  background-color: #FFEBEA;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

button {
  cursor: pointer;
}

h1 {
  font-family: 'Merriweather', serif;
  font-size: 55px;
}

h2, h3 {
  font-family: 'Montserrat', sans-serif;
}

h4 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 19px;
  letter-spacing: -0.25px;
  color: rgba(0,0,0,.50);
}

h4 a {
  color: rgba(0,0,0,1);
}

p, li {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
}

.hp-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*@keyframes fade-in {
  from {opacity: 0;}
  to {opacity: 1;}
}*/

.hp-content {
  text-align: center;
  max-width: 1080px;
  margin: -3% auto 0 auto;
}

.hp-content h1 {
  font-family: 'Merriweather', serif;
  font-weight: 900;
  font-size: 80px;
  letter-spacing: -1px;
}

.container {
  max-width: 1360px;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.container h1 {
  max-width: 1010px;
  margin: 85px auto 65px auto;
  line-height: 62px;
  letter-spacing: -1px;
}

.results-container {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  justify-content: center;
}

.search-result {
  flex: 1;
  min-width: 305px;
  border: rgba(0,0,0,0.10) 2px solid;
  margin-right: 15px;
  margin-bottom: 15px;
  padding: 25px 25px 33px 25px;
}

.search-result h2 {
  margin: 0 0 10px 0;
  font-weight: 600;
  letter-spacing: 0.25px;
  font-size: 21px;
  line-height: 32px;
  max-width: 325px;
}

.search-result ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.search-result ul li {
  margin-bottom: 5px;
}

.standard-btn {
  background-color: transparent;
  border: #000 2px solid;
  padding: 22px 25px;
  font-family: 'Montserrat', serif;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  margin-right: 25px;
  transition: .25s ease-in-out;
}

.secondary-btn {
  background-color: transparent;
  border: #000 2px solid;
  padding: 16px 30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.75px;
  margin-top: 20px;
  transition: .25s ease-in-out;
}

.standard-btn:hover, .secondary-btn:hover {
  background-color: white;
}

.spinning-emoji-container {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  top: 0;
  left: 0;
  overflow: hidden;
}

@keyframes spinning-emoji-anim {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

.emoji_box {
  background-size: cover;
  background-repeat: no-repeat;
  width: 120px;
  height: 120px;
  position: absolute;
  animation: spinning-emoji-anim 5s linear infinite;
}

.emoji_one {
  top: 54%;
  left: 0%;
  background-position: bottom right;
}

.emoji_two {
  top: 1%;
  left: 9%;
}

.emoji_three {
  top: 82%;
  left: 27%;
}

.emoji_four {
  top: 7%;
  left: 46%;
  background-position: bottom right;
}

.emoji_five {
  top: -6%;
  left: 76%;
}

.emoji_six {
  top: 79%;
  left: 76%;
  background-position: bottom right;
}

.emoji_seven {
  top: 36%;
  left: 95%;
}



@keyframes load-anim {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.load-icon-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.load-icon {
  position: absolute;
  /*top: 45.5%;
  left: 45%;*/
  width: 80px;
  /*height: 80px;*/
  background-color: transparent;
  border-radius: 50px;
  border: #000 2px solid;
  animation: load-anim 1s ease-in-out infinite;
}
