* {
  outline: none;
}

body {
  background-color: #FFEBEA;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

button {
  cursor: pointer;
}

h1 {
  font-family: 'Merriweather', serif;
  font-size: 52px;
  font-weight: 900;
}

h2, h3 {
  font-family: 'Montserrat', sans-serif;
}

h4 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.25px;
  color: rgba(0,0,0,.50);
}

h4 a {
  color: rgba(0,0,0,1);
  transition: .25s;
  text-decoration: underline;
}

h4 a:hover {
  color: rgba(0,0,0,.65);
}

p, li {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
}

/* Homepage */

.hp-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hp-content {
  text-align: center;
  max-width: 1080px;
  margin: -3% auto 0 auto;
}

.hp-content h1 {
  font-family: 'Merriweather', serif;
  font-size: 80px;
  letter-spacing: -1px;
}

/* Search Results Landing */

.container {
  max-width: 1360px;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.container h1 {
  max-width: 1010px;
  margin: 85px auto 65px auto;
  line-height: 62px;
  letter-spacing: -1px;
}

.results-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: left;
  /*justify-content: center;*/
}

.search-result {
  flex: 1 1 305px;
  border: rgba(0,0,0,0.10) 2px solid;
  margin: 0 7px 14px 7px;
  padding: 25px 25px 33px 25px;
}

.search-result h2 {
  margin-bottom: 10px;
  margin-top: 0;
  font-weight: 600;
  letter-spacing: 0.25px;
  font-size: 21px;
  line-height: 32px;
  max-width: 325px;
}

.search-result ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.search-result ul li {
  margin-bottom: 5px;
}

/* Buttons */

.standard-btn {
  background-color: transparent;
  border: #000 2px solid;
  padding: 22px 25px;
  font-family: 'Montserrat', serif;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.75px;
  margin: 0px 10px;
  text-transform: uppercase;
  transition: .25s ease-in-out;
}

a {
  text-decoration: none;
}

.secondary-btn {
  background-color: transparent;
  border: #000 2px solid;
  padding: 16px 30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.75px;
  margin-top: 20px;
  transition: .25s ease-in-out;
}

.standard-btn:hover, .secondary-btn:hover {
  background-color: white;
}

/* Spinning Emojis */

.spinning-emoji-container {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  top: 0;
  left: 0;
  overflow: hidden;
}

@keyframes spinning-emoji-anim {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

.emoji_box {
  background-size: cover;
  background-repeat: no-repeat;
  width: 125px;
  height: 125px;
  position: absolute;
  animation: spinning-emoji-anim 5s linear infinite;
}

.emoji_one {
  top: 54%;
  left: 0%;
  background-position: bottom right;
}

.emoji_two {
  top: 1%;
  left: 9%;
}

.emoji_three {
  top: 82%;
  left: 27%;
}

.emoji_four {
  top: 7%;
  left: 46%;
  background-position: bottom right;
}

.emoji_five {
  top: -6%;
  left: 76%;
}

.emoji_six {
  top: 79%;
  left: 76%;
  background-position: bottom right;
}

.emoji_seven {
  top: 36%;
  left: 95%;
}

/* Emoji Per Food Term */

.bbq-emoji {
  background-image: url('../assets/bbq.png');
}

.burgers-emoji {
  background-image: url('../assets/burger.png');
}

.comfort-food-emoji {
  background-image: url('../assets/comfort-food.png')
}

.hot-dogs-emoji {
  background-image: url('../assets/hot-dog.png');
}

.mexican-food-emoji {
  background-image: url('../assets/mexican-food.png');
}

.pizza-emoji {
  background-image: url('../assets/pizza.png');
}

.ramen-emoji {
  background-image: url('../assets/ramen.png');
}

.sushi-emoji {
  background-image: url('../assets/sushi.png');
}

.tacos-emoji {
  background-image: url('../assets/taco.png');
}

/* Loader */

@keyframes line-anim {
  0% {
    left: -100%;
  }
  50% {
    left: 100%;
  }
  100% {
    left: -100%;
  }
}

.load-icon-container {
  flex-direction: row;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  align-items: center;
  justify-content: center;
}

.load-icon {
  width: 75px;
  overflow: hidden;
  background-color: rgba(0,0,0,.10);
}

.line {
  width: 75px;
  height: 3px;
  position: relative;
  top: 0px;
  left: -100%;
  background-color: black;
  animation: line-anim 1.5s ease-in-out infinite;
}

/* Misc */

.fa {
  margin: 0 1px;
}

/* Media Queries */

@media (max-width: 1080px) {
  .hp-content {
    max-width: 85%;
  }

  .hp-content h1 {
    font-size: 68px;
  }

  .standard-btn {
    padding: 18px 22px;
    font-size: 11px;
    letter-spacing: 0.75px;
    text-transform: uppercase;
  }

  .secondary-btn {
    padding: 13px 20px;
    font-size: 11px;
    margin-top: 15px;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 38px;
  }

  .container h1 {
    margin: 50px auto 35px auto;
  }

  .search-result {
    min-width: 275px;
  }

  .emoji_one {
    top: 46%;
    left: -5%;
  }

  .emoji_two {
    top: 3%;
    left: 9%;
  }

  .emoji_three {
    top: 83%;
    left: 25%;
  }

  .emoji_four {
    top: 14%;
    left: 49%;
  }

  .emoji_five {
    top: -4%;
    left: 84%;
  }

  .emoji_six {
    top: 75%;
    left: 74%;
  }

  .emoji_seven {
    top: 36%;
    left: 95%;
  }
}

@media (max-width: 600px) {

  h1 {
    font-size: 26px;
  }

  .hp-content h1 {
    font-size: 38px;
    line-height: 48px;
  }

  .container h1 {
    line-height: 42px;
    margin: 40px auto 20px auto;
  }

  .results-container {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .search-result h2 {
    font-size: 18px;
    margin-bottom: 5px;
  }

  .search-result {
    min-width: 0;
    flex: 0;
    padding: 15px 15px 25px 15px;
  }

  .standard-btn {
    padding: 15px 0px;
    display: block;
    margin: 10px auto;
    width: 90%;
  }

  .emoji_box {
    width: 80px;
    height: 80px;
  }

  .emoji_one {
    top: 43%;
    left: -15%;
    background-position: bottom right;
  }

  .emoji_two {
    top: -2%;
    left: -4%;
  }

  .emoji_three {
    top: 73%;
    left: 15%;
  }

  .emoji_four {
    top: 9%;
    left: 37%;
    background-position: bottom right;
  }

  .emoji_five {
    top: -1%;
    left: 82%;
  }

  .emoji_six {
    top: 84%;
    left: 69%;
    background-position: bottom right;
  }

  .emoji_seven {
    top: 41%;
    left: 92%;
  }
}
